html ,
 body
{
    height: 100%;
    font-size: 1rem; 
    font-family:'Zilla Slab', serif;
}
.gradient{
    background: rgb(152,150,108);
background: linear-gradient(137deg, rgba(152,150,108,1) 0%, rgba(200,211,224,1) 34%, rgba(31,66,105,1) 77%);
}
.page-header{margin-top: 4rem;
    font-size: 1.25rem;
    color:#1F4269 ;
}
.featured ul{
    padding-left:2rem;
    list-style-type: none;
}
.featured ul li{
    padding-left:2rem;
    background-image:url(./images/ender_pearl_16.png);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom:1rem;
    align-items: center;
}
.icon{
    background-color: transparent;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    display:inline-flex;
    align-items: center;
    justify-content:center;
}
.gallery img{
    border-radius: 5%;
}
.services img{
    width: 100%rem;
    height: 100%;
}